<div class="w-full p-page text-center">
  <img class="w-full max-w-lg mx-auto mb-6" src="assets/img/illustrations/peak_mountain_3.svg" />

  <h1 class="display-3 font-medium m-0">403</h1>
  <h2 class="title m-0 mt-3 max-w-lg mx-auto">You have no permission to access this resource.</h2>
  <button (click)="goBack()" mat-flat-button color="primary" type="button" class="mt-4">
    <mat-icon class="mr-2" [icIcon]="icBackspace"></mat-icon> Go back
  </button>

  <!-- <div class="bg-card rounded-full overflow-hidden relative ltr:pl-5 rtl:pr-5 h-12 max-w-md w-full shadow-8 mx-auto mt-6">
  </div> -->
</div>
