<!-- Loader -->
<div class="flex items-center" *ngIf="isLoading">
  <mat-progress-spinner strokeWidth="2" diameter="30" mode="indeterminate"></mat-progress-spinner>
  <span class="ml-4">Loading...</span>
</div>

<!-- Data Render -->
<ng-template [ngIf]="!isLoading">
  <div class="flex justify-between items-center mt-8 mb-4">
    <div class="flex">
      <a [routerLink]="'../'" [queryParams]="{ namespace: queryParams.namespace }">
        <h3 class="inline mr-2" style="color: var(--color-primary)">{{ title }}</h3>
      </a>
      <mat-icon [icIcon]="icRight" style="font-size: 22px; margin-top: 2px"></mat-icon>
      <h3 class="px-4 mb-2">{{ data?.metadata?.name }}</h3>
    </div>

    <div *hasAnyAuthority="'MANAGE_NAMESPACE_DAEMON_SET'" class="flex items-center">
      <div class="px-2">
        <button mat-raised-button class="float-right detaisl-edit-btn" type="button" (click)="onUpdate(data)">
          <mat-icon [icIcon]="icEdit"></mat-icon> Edit
        </button>
      </div>

      <div class="px-2">
        <button mat-raised-button class="btn float-right details-delete-btn" type="button" (click)="onDelete(data)">
          <mat-icon [icIcon]="icDelete"></mat-icon> Delete
        </button>
      </div>
    </div>
  </div>

  <div class="page-root" *ngIf="data">
    <kc-metadata-template [data]="data.metadata"></kc-metadata-template>

    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Resource information</h2>
      <div class="kube-card__content">
        <div class="flex flex-wrap -mx-2">
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Strategy</div>
              <h3 class="kc-dataset__value">{{ data.spec?.updateStrategy?.type }}</h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6 sm:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Min ready seconds</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.minReadySeconds || '-' }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Revision history limit</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.revisionHistoryLimit || '-' }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Age</div>
              <h3 class="kc-dataset__value">
                {{ data?.metadata?.creationTimestamp | ago }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full sm:w-1/2 mt-6">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Selector</div>
              <h3 class="kc-dataset__value" *ngFor="let selector of data.spec?.selector?.matchLabels | keyvalue">
                <span class="kc-dataset-key"> {{ selector.key }} </span> :{{ selector.value }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Rolling update strategy</h2>
      <div class="kube-card__content">
        <div class="flex flex-wrap -mx-2">
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Max Surge</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.updateStrategy?.rollingUpdate?.maxSurge || '0' }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6 sm:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Max Unavailable</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.updateStrategy?.rollingUpdate?.maxUnavailable || '0' }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Pods status</h2>
      <div class="kube-card__content">
        <div class="flex flex-wrap -mx-2">
          <div class="px-2 w-full lg:w-3/12 sm:w-4/12">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Updated</div>
              <h3 class="kc-dataset__value">
                {{ data.status?.updatedReplicas || '0' }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-4/12 mt-6 sm:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Total</div>
              <h3 class="kc-dataset__value">
                {{ data.status?.readyReplicas || '0' }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-4/12 mt-6 sm:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Available</div>
              <h3 class="kc-dataset__value">
                {{ data.status?.availableReplicas || '0' }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Pod Template</h2>
      <div class="kube-card__content">
        <div class="row" *ngIf="data?.spec?.template; else emptyDataStatus">
          <kc-metadata-template [data]="data?.spec?.template?.metadata"></kc-metadata-template>

          <div class="kube-card mb-6">
            <h2 class="kube-card__title">Spec</h2>
            <div class="kube-card__content">
              <div class="flex flex-wrap -mx-2">
                <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                  <div class="kc-dataset">
                    <div class="kc-dataset__name">DNS Policy</div>
                    <h3 class="kc-dataset__value">{{ data?.spec?.template?.spec?.dnsPolicy }}</h3>
                  </div>
                </div>
                <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                  <div class="kc-dataset">
                    <div class="kc-dataset__name">Restart Policy</div>
                    <h3 class="kc-dataset__value">{{ data?.spec?.template?.spec?.restartPolicy }}</h3>
                  </div>
                </div>

                <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                  <div class="kc-dataset">
                    <div class="kc-dataset__name">Scheduler Name</div>
                    <h3 class="kc-dataset__value">{{ data?.spec?.template?.spec?.schedulerName }}</h3>
                  </div>
                </div>
                <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                  <div class="kc-dataset">
                    <div class="kc-dataset__name">Service Account</div>
                    <h3 class="kc-dataset__value">{{ data?.spec?.template?.spec?.serviceAccount || '-' }}</h3>
                  </div>
                </div>

                <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                  <div class="kc-dataset">
                    <div class="kc-dataset__name">Service Account Name</div>
                    <h3 class="kc-dataset__value">{{ data?.spec?.template?.spec?.serviceAccountName || '-' }}</h3>
                  </div>
                </div>
                <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                  <div class="kc-dataset">
                    <div class="kc-dataset__name">Termination Grace Period Seconds</div>
                    <h3 class="kc-dataset__value">{{ data?.spec?.template?.spec?.terminationGracePeriodSeconds }}</h3>
                  </div>
                </div>
                <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                  <div class="kc-dataset">
                    <div class="kc-dataset__name">Security Context</div>
                    <kc-json-data-viewer-template [data]="data?.spec?.template?.spec?.securityContext"></kc-json-data-viewer-template>
                  </div>
                </div>

                <div *ngIf="data?.spec?.template?.spec?.volumes" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-2">
                  <div class="kc-dataset">
                    <kc-expansion-data-viewer-template
                      [label]="'Volumes'"
                      [data]="data?.spec?.template?.spec?.volumes"
                    ></kc-expansion-data-viewer-template>
                  </div>
                </div>

                <div class="w-full mt-12 mb-6">
                  <h3 class="px-2 mb-2">Containers</h3>
                  <div
                    *ngFor="let container of data?.spec?.template?.spec?.containers"
                    class="kube-card__content border-solid border-2 border-rose-500 mt-3 pb-4"
                  >
                    <div *ngIf="container.name" class="flex flex-wrap mx-2">
                      <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                        <div class="kc-dataset">
                          <div class="kc-dataset__name">Name</div>
                          <h3 class="kc-dataset__value">{{ container.name }}</h3>
                        </div>
                      </div>
                      <div *ngIf="container.imagePullPolicy" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                        <div class="kc-dataset">
                          <div class="kc-dataset__name">Image Pull Policy</div>
                          <h3 class="kc-dataset__value">{{ container.imagePullPolicy }}</h3>
                        </div>
                      </div>

                      <div *ngIf="container.image" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                        <div class="kc-dataset">
                          <div class="kc-dataset__name">Image</div>
                          <h3 class="kc-dataset__value">{{ container.image }}</h3>
                        </div>
                      </div>
                      <div *ngIf="container.terminationMessagePath" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                        <div class="kc-dataset">
                          <div class="kc-dataset__name">Termination Message Path</div>
                          <h3 class="kc-dataset__value">{{ container.terminationMessagePath }}</h3>
                        </div>
                      </div>

                      <div *ngIf="container.terminationMessagePolicy" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                        <div class="kc-dataset">
                          <div class="kc-dataset__name">Termination Message Policy</div>
                          <h3 class="kc-dataset__value">{{ container.terminationMessagePolicy }}</h3>
                        </div>
                      </div>

                      <div *ngIf="container?.livenessProbe" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-2">
                        <div class="kc-dataset">
                          <kc-expansion-data-viewer-template
                            [label]="'Liveness Probe'"
                            [data]="container?.livenessProbe"
                          ></kc-expansion-data-viewer-template>
                        </div>
                      </div>
                      <div *ngIf="container?.readinessProbe" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-2">
                        <div class="kc-dataset">
                          <kc-expansion-data-viewer-template
                            [label]="'Readiness Probe'"
                            [data]="container?.readinessProbe"
                          ></kc-expansion-data-viewer-template>
                        </div>
                      </div>
                      <div *ngIf="container.args" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                        <div class="kc-dataset">
                          <div class="kc-dataset__name">Argumnets</div>
                          <h3 class="kc-dataset__value" *ngFor="let arg of container.args">
                            {{ arg || '-' }}
                          </h3>
                        </div>
                      </div>
                      <div *ngIf="container.command" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
                        <div class="kc-dataset">
                          <div class="kc-dataset__name">Command</div>
                          <h3 class="kc-dataset__value" *ngFor="let cmd of container.command">
                            {{ cmd || '-' }}
                          </h3>
                        </div>
                      </div>
                    </div>

                    <mat-accordion *ngIf="container.env" class="acc-table-accordion ltSm:responsive mt-6 mx-4">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header class="info-table-row">
                          <mat-panel-title><h4>Environment Variables</h4> </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="kube-card__content">
                          <div class="row">
                            <div class="kube-table__wrapper">
                              <table class="kube-table heading-diff">
                                <thead>
                                  <tr>
                                    <th width="30%">Name</th>
                                    <th width="40%">Value</th>
                                    <th>ValueFrom</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let env of container.env">
                                    <td width="20%">
                                      {{ env.name }}
                                    </td>
                                    <td width="30%">
                                      {{ env.value }}
                                    </td>
                                    <td width="30%">
                                      <kc-json-data-viewer-template [data]="env.valueFrom"></kc-json-data-viewer-template>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion *ngIf="container.envFrom" class="acc-table-accordion ltSm:responsive mt-6 mx-4">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header class="info-table-row">
                          <mat-panel-title><h4>Environment Variables From</h4> </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="kube-card__content">
                          <div class="row">
                            <div class="kube-table__wrapper">
                              <table class="kube-table heading-diff">
                                <thead>
                                  <tr>
                                    <th width="30%">Name</th>
                                    <th width="40%">Value</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let env of container.envFrom">
                                    <td width="20%">
                                      <span *ngIf="env.secretRef">secretRef</span>
                                      <span *ngIf="env.configMapRef">configMapRef</span>
                                    </td>
                                    <td width="30%">
                                      {{ env.configMapRef?.name }}
                                      {{ env.secretRef?.name }}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion *ngIf="container.ports" class="acc-table-accordion ltSm:responsive mt-6 mb-6 mx-4">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header class="info-table-row">
                          <mat-panel-title><h4>Ports</h4> </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="kube-card__content">
                          <div class="row">
                            <div class="kube-table__wrapper">
                              <table class="kube-table heading-diff">
                                <thead>
                                  <tr>
                                    <th width="30%">Container Port</th>
                                    <th width="40%">Name</th>
                                    <th>Protocol</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let port of container.ports">
                                    <td width="20%">
                                      {{ port.containerPort }}
                                    </td>
                                    <td width="30%">
                                      {{ port.name }}
                                    </td>
                                    <td width="30%">
                                      {{ port.protocol }}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Conditions</h2>
      <div class="kube-card__content">
        <div class="row" *ngIf="data.status?.conditions; else emptyDataStatus">
          <div class="kube-table__wrapper">
            <table class="kube-table heading-diff">
              <thead>
                <tr>
                  <th width="13%">Type</th>
                  <th width="10%">Status</th>
                  <th>Last Update time</th>
                  <th>Last transition time</th>
                  <th>Reason</th>
                  <th width="23%">Message</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let condition of data.status?.conditions">
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.type }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.status }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.lastUpdateTime | date }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.lastTransitionTime | date }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.reason }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)" style="max-width: 480px">
                    {{ condition.message }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- EVENTS SECTION -->
    <kc-k8s-events-template [objectName]="data?.metadata?.name"></kc-k8s-events-template>
  </div>
  <!-- Empty Content -->
  <ng-template #emptyDataStatus>
    <h6 class="color-text text-center">There is nothing to display.</h6>
  </ng-template>
</ng-template>
