<kc-page-layout>
  <kc-page-layout-content kcContainer>
    <div class="card p-4">
      <div *ngIf="dataLoading; else content">
        <mat-progress-spinner mode="indeterminate" color="primary" strokeWidth="2" diameter="40"></mat-progress-spinner>
      </div>
      <ng-template #content>
        <div *ngIf="serverError">
          <h3>Internal server error!!!</h3>
        </div>
        <div *ngIf="clusterList?.length > 0 && !serverError">
          <!-- Topbar -->
          <div class="mb-3 flex items-center flex-wrap">
            <h3 class="title">Clusters</h3>
            <div class="ml-auto flex items-center gap-2">
              <button
                *hasAnyAuthority="'CREATE_CLUSTER'"
                (click)="routeToDetails()"
                class="rounded-full pl-3"
                mat-raised-button
                color="primary"
              >
                <span class="flex items-center">
                  <mat-icon class="mr-1" [icIcon]="icAddCircleOutline"></mat-icon>
                  Add Agent Cluster
                </span>
              </button>
            </div>
          </div>
          <!-- Clusters -->
          <div class="cluster_items" [ngClass]="viewStyle + '_view'">
            <ng-container *ngFor="let cluster of clusterList">
              <div *ngIf="cluster?.currentState !== 'DELETED'" class="cluster_wrap p-4 rounded border-dotted border-2 border-sky-900">
                <div matRipple class="cluster_card cluster_card--master" (click)="routeToDetails(cluster)">
                  <div class="cluster_inner">
                    <div class="name_col flex items-center">
                      <img width="55px" src="assets/img/icons/cluster-icon-2.svg" alt="" />
                      <div class="ml-3" [matTooltip]="cluster?.name" matTooltipPosition="above">
                        {{ cluster?.name }}
                      </div>
                    </div>
                    <div
                      class="flex items-center justify-center p-3 inner-block xl:col-start-6"
                      [ngClass]="cluster?.currentState | lowercase"
                    >
                      {{ cluster?.is_active ? 'Active' : 'Pending...' }}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <kc-cluster-intro *ngIf="!clusterList?.length && !serverError"></kc-cluster-intro>
      </ng-template>
    </div>
  </kc-page-layout-content>
</kc-page-layout>
