kc-page-layout-content {
  word-break: break-all;
  white-space: pre-line;
}

.mat-table {
  td.mat-cell {
    padding-left: 0px;
    word-break: break-all;
    white-space: pre-line;
  }
}

.form-dialog {
  min-width: 500px;
}

.content {
  margin: 20px auto;
}

.name {
  color: var(--text-color);
  font-weight: 500;
  outline: none;
}

.blank {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.search {
  background: var(--background-kc-stepper);
  border: 1.5px solid var(--border);
  box-sizing: border-box;
  border-radius: 100px;

  .input {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding-right: 10px;

    input {
      background: var(--background-kc-stepper);
      outline: none;
      width: 80%;
      height: 80%;

      @media screen and (max-width: 768px) {
        width: 70%;
      }
    }
  }
}

th {
  font-size: 14px;
  font-weight: 500;
  background: var(--background-kc-stepper);
}

.user-super-admin {
  background: rgba(#36c678, 0.1);
}
