<!-- Loader -->
<div class="flex items-center" *ngIf="isLoading">
  <mat-progress-spinner strokeWidth="2" diameter="30" mode="indeterminate"></mat-progress-spinner>
  <span class="ml-4">Loading...</span>
</div>

<!-- Data Render -->
<ng-template [ngIf]="!isLoading">
  <div class="flex justify-between items-center mt-8 mb-4">
    <div class="flex">
      <a [routerLink]="'../'" [queryParams]="{ namespace: queryParams.namespace }">
        <h3 class="inline mr-2" style="color: var(--color-primary);">{{title}}</h3></a>
        <mat-icon [icIcon]="icRight" style="font-size: 22px; margin-top: 2px;"></mat-icon>
        <h3 class="px-4 mb-2">{{ data?.metadata?.name }}</h3>
      </div>

    <div *hasAnyAuthority="'MANAGE_NAMESPACE_CRON_JOB'" class="flex items-center">
      <div class="px-2">
        <button  mat-raised-button class="float-right detials-edit-btn" type="button"
        (click)="onUpdate(data)">
        <mat-icon [icIcon]="icEdit"></mat-icon> Edit
      </button>
      </div>

      <div class="px-2">
        <button  mat-raised-button class="btn float-right details-delete-btn" type="button"
        (click)="onDelete(data)">
        <mat-icon [icIcon]="icDelete"></mat-icon> Delete
      </button>
      </div>
    </div>
  </div>

  <div class="page-root" *ngIf="data">
    <kc-metadata-template [data]="data.metadata"></kc-metadata-template>
   
    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Spec</h2>
      <div class="kube-card__content">
        <div class="flex flex-wrap -mx-2">
          <div *ngIf="data?.spec?.concurrencyPolicy" class="px-2 mt-4 w-full lg:w-3/12 sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Concurrency Policy</div>
              <h3 class="kc-dataset__value">
                {{ data?.spec?.concurrencyPolicy }}
              </h3>
            </div>
          </div>
          <div *ngIf="data?.spec?.failedJobsHistoryLimit" class="px-2 mt-4 w-full sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Failed Jobs History Limit</div>
              <h3 class="kc-dataset__value">
                {{ data?.spec?.failedJobsHistoryLimit }}
              </h3>
            </div>
          </div>
          <div *ngIf="data?.spec?.successfulJobsHistoryLimit" class="px-2 mt-4 w-full lg:w-3/12 sm:w-1/2 mt-6 sm:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Successful Jobs History Limit</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.successfulJobsHistoryLimit || '-' }}
              </h3>
            </div>
          </div>
          <div *ngIf="data?.spec?.jobTemplate" class="px-2 mt-4 w-full lg:w-3/12 sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <kc-expansion-data-viewer-template [label]="'Job Template'" [data]="data?.spec?.jobTemplate"></kc-expansion-data-viewer-template>
            </div>
          </div>
          <div *ngIf="data?.spec?.schedule" class="px-2 mt-4 w-full lg:w-3/12 sm:w-1/2">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Schedule</div>
              <h3 class="kc-dataset__value">{{ data.spec?.schedule }}</h3>
            </div>
          </div>
          <div *ngIf="data?.spec?.suspend" class="px-2 mt-4 w-full lg:w-3/12 sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Suspend</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.suspend || '-' }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Status</h2>
      <div class="kube-card__content">
        <div class="flex flex-wrap -mx-2">
          <div *ngIf="data?.status?.lastScheduleTime" class="px-2 mt-4 w-full lg:w-3/12 sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Last Schedule Time</div>
              <h3 class="kc-dataset__value">
                {{ data?.status?.lastScheduleTime | date:'medium' }} <span class="mx-4">( {{ data?.status?.lastScheduleTime | ago }} )</span>
              </h3>
            </div>
          </div>
        </div>

        <mat-accordion *ngIf="data?.status?.active" class="acc-table-accordion ltSm:responsive mt-6 mx-4">
          <mat-expansion-panel>
            <mat-expansion-panel-header class="info-table-row">
              <mat-panel-title><h4>Active</h4> </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="kube-card__content">
                <div class="row">
                  <div class="kube-table__wrapper">
                    <table class="kube-table heading-diff">
                      <thead>
                        <tr>
                          <th>Api Version</th>
                          <th>Kind</th>
                          <th>Name</th>
                          <th>Namespace</th>
                          <th>Resource version</th>
                          <th>UID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let element of data?.status?.active">
                          <td>
                            {{ element?.apiVersion }}
                          </td>
                          <td>
                            {{ element?.kind }}
                          </td>
                          <td>
                            {{ element?.name }}
                          </td>
                          <td>
                            {{ element?.namespace }}
                          </td>
                          <td>
                            {{ element?.resourceVersion }}
                          </td>
                          <td>
                            {{ element?.uid }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    
    
  </div>
  <kc-nothing-found *ngIf="!data"></kc-nothing-found>
  <!-- Empty Content -->
  <ng-template #emptyDataStatus>
    <h6 class="color-text text-center">There is nothing to display.</h6>
  </ng-template>
</ng-template>
