<div class="w-full text-center">
  <div class="flex items-center pb-3">
    <h3 class="text-xl">Reset Password</h3>
    <button class="ml-auto" mat-dialog-close><mat-icon [icIcon]="icClose"></mat-icon></button>
  </div>
  <hr />

  <form [formGroup]="resetPassForm" (ngSubmit)="submit()" class="mt-6" autocomplete="off">
    <mat-form-field appearance="outline" class="w-full custom-mat-form-field">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        placeholder="Current Password"
        formControlName="password"
        autocomplete="current-password"
        required
      />
      <button class="btn-eye" *ngIf="password?.value" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon [icIcon]="hidePassword ? icVisibilityOff : icVisibility"></mat-icon>
      </button>
      <mat-error *ngIf="resetPassForm.get('password').hasError('required')"> Current password is required! </mat-error>
      <mat-error *ngIf="resetPassForm.get('password').hasError('minlength')">
        Current password must be at least {{ coreConfig?.passwordLength || 8 }} characters long!
      </mat-error>
    </mat-form-field>

    <mat-error class="float-left -mt-5 error ml-2" *ngIf="err">You have entered wrong password!</mat-error>

    <mat-form-field appearance="outline" class="w-full custom-mat-form-field">
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="hideNewPassword ? 'password' : 'text'"
        placeholder="New Password"
        formControlName="password1"
        autocomplete="new-password"
        required
      />
      <button
        class="btn-eye"
        *ngIf="password1?.value || password2?.value"
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideNewPassword = !hideNewPassword"
      >
        <mat-icon [icIcon]="hideNewPassword ? icVisibilityOff : icVisibility"></mat-icon>
      </button>
      <mat-error *ngIf="password1.hasError('required')">Please provide a new password!</mat-error>
      <mat-error
        *ngIf="
          !resetPassForm?.get('password1')?.hasError('required') &&
          (resetPassForm.get('password1')?.hasError('passwordStrength') || resetPassForm?.get('password1')?.hasError('minlength')) &&
          resetPassForm.get('password1')?.touched
        "
      >
        Passwords must contain at least {{ resetPassForm?.get('password1').errors?.minlength?.requiredLength }} characters, including
        uppercase, lowercase letters, numbers & special characters (!&*&#64;^).
      </mat-error>

      <mat-hint
        fxFlex="100%"
        class="pass-err-msg mb-2"
        *ngIf="
          resetPassForm.get('password1').value &&
          !resetPassForm.get('password1').hasError('pattern') &&
          this.resetPassForm.value.password1.length >= resetPassForm?.get('password1').errors?.minlength?.requiredLength &&
          this.resetPassForm.value.password1.length < 16
        "
      >
        Yeah, it will do!
      </mat-hint>
      <mat-hint
        fxFlex="100%"
        class="pass-err-msg mb-2"
        *ngIf="!resetPassForm.get('password1').hasError('pattern') && this.resetPassForm.value.password1.length > 15"
      >
        Amazing! You have chosen a great password! 🤙
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full custom-mat-form-field">
      <mat-label>Re-type New Password</mat-label>
      <input
        matInput
        [type]="hideNewPassword ? 'password' : 'text'"
        placeholder="Confirm New Password"
        formControlName="password2"
        autocomplete="new-password"
        required
      />
      <mat-error *ngIf="password2.hasError('required') && password2.touched">Please confirm your new password</mat-error>
      <mat-error *ngIf="password2.hasError('mustMatch') && password2.touched">Passwords don't match</mat-error>
    </mat-form-field>

    <button mat-button mat-raised-button color="primary" type="submit" class="w-full">
      <span *ngIf="!isSubmitting" class="ml-auto mr-auto text-center">Reset</span>
      <div *ngIf="isSubmitting" class="align-middle py-5">
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
      </div>
    </button>
  </form>
</div>
