.kc-dataset-key {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.3px;
}

.kc-dataset-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: var(--text-color);
  word-break: break-word;
}
