<!-- Loader -->
<div class="flex items-center" *ngIf="isLoading">
  <mat-progress-spinner strokeWidth="2" diameter="30" mode="indeterminate"></mat-progress-spinner>
  <span class="ml-4">Loading...</span>
</div>

<!-- Data Render -->
<ng-template [ngIf]="!isLoading">
  <div class="flex justify-between items-center mt-8 mb-4">
    <div class="flex">
      <a [routerLink]="'../'" [queryParams]="{ namespace: queryParams.namespace }">
        <h3 class="inline mr-2" style="color: var(--color-primary)">{{ title }}</h3></a
      >
      <mat-icon [icIcon]="icRight" style="font-size: 22px; margin-top: 2px"></mat-icon>
      <h3 class="px-4 mb-2">{{ data?.metadata?.name }}</h3>
    </div>

    <div *hasAnyAuthority="'MANAGE_NAMESPACE_CERTIFICATE'" class="flex items-center">
      <div class="px-2">
        <button mat-raised-button class="float-right detials-edit-btn" type="button" (click)="onUpdate(data)">
          <mat-icon [icIcon]="icEdit"></mat-icon> Edit
        </button>
      </div>

      <div class="px-2">
        <button mat-raised-button class="btn float-right details-delete-btn" type="button" (click)="onDelete(data)">
          <mat-icon [icIcon]="icDelete"></mat-icon> Delete
        </button>
      </div>
    </div>
  </div>

  <div class="page-root" *ngIf="data">
    <kc-metadata-template [data]="data.metadata"></kc-metadata-template>

    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Resource information</h2>
      <div class="kube-card__content">
        <div class="flex flex-wrap -mx-2">
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Common Name</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.commonName || '-' }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6 sm:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Secret Name</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.secretName || '-' }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Dns Names</div>
              <h3 class="kc-dataset__value" *ngFor="let _name of data.spec?.dnsNames">
                {{ _name }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6 lg:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Rotation Policy</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.privateKey?.rotationPolicy || '-' }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Issuer Ref</h2>
      <div class="kube-card__content">
        <div class="flex flex-wrap -mx-2">
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Name</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.issuerRef?.name || '-' }}
              </h3>
            </div>
          </div>
          <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6 sm:mt-0">
            <div class="kc-dataset">
              <div class="kc-dataset__name">Kind</div>
              <h3 class="kc-dataset__value">
                {{ data.spec?.issuerRef?.kind || '-' }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kube-card mt-3">
      <h2 class="kube-card__title">Conditions</h2>
      <div class="kube-card__content">
        <div class="row">
          <div class="kube-table__wrapper" *ngIf="data.status?.conditions.length; else emptyDataStatus">
            <table class="kube-table heading-diff">
              <thead>
                <tr>
                  <th width="13%">Type</th>
                  <th width="10%">Status</th>
                  <th width="18%">Last transition time</th>
                  <th width="10%">Reason</th>
                  <th width="23%">Message</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let condition of data.status?.conditions">
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.type }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.status }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.lastTransitionTime | date }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)">
                    {{ condition.reason }}
                  </td>
                  <td [class.text-danger]="isConditionNegative(condition)" style="max-width: 480px">
                    {{ condition.message }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <kc-nothing-found *ngIf="!data"></kc-nothing-found>
  <!-- Empty Content -->
  <ng-template #emptyDataStatus>
    <h6 class="color-text text-center">There is nothing to display.</h6>
  </ng-template>
</ng-template>
