::ng-deep {
  .helm-chart-accordion {
    background: var(--background-kc-stepper);
    display: block;
    border-radius: 5px;
    border: 1px solid var(--border);

    .mat-expansion-panel .mat-expansion-panel-header {
      height: 55px !important;

      &.mat-expanded,
      &:hover {
        background: var(--background-1);
      }
    }

    .mat-expansion-panel-body {
      background: var(--background-base);

    }
  }
}