<div *ngIf="dataLoading">
  <mat-progress-spinner mode="indeterminate" color="primary" strokeWidth="2" diameter="40"></mat-progress-spinner>
</div>
<div *ngIf="!dataLoading" class="w-full">
  <ng-container *ngIf="clusterDetails?.clusterType === 'MANUAL'">
    <div class="settings-box" *hasAnyAuthority="'UPDATE_CLUSTER'">
      <div class="flex items-center justify-between gap-4">
        <div class="flex-grow">
          <div class="w-full flex items-center">
            <cdk-icon src="assets/img/icons/edit-custom.svg" alt="" @fadeInRight></cdk-icon>
            <h3 @fadeInRight class="pl-4">Cluster Configuration</h3>
          </div>
          <p class="mt-4" @fadeInRight>You can change your cluster configuration from here.</p>
        </div>
        <div *ngIf="!showClusterUpdateForm">
          <button mat-button class="kc-button-primary w-32" @fadeInRight (click)="showClusterUpdateForm = true">Edit</button>
        </div>
      </div>

      <kc-cluster-update-form
        class="mt-6 block w-full"
        *ngIf="showClusterUpdateForm"
        [clusterId]="clusterDetails.clusterId"
        (closeFormEvent)="toggleClusterUpdateForm()"
      ></kc-cluster-update-form>
    </div>
  </ng-container>

  <div *ngIf="kubeClusterDetails?.clusterUpdateStrategy">
    <div *hasAnyAuthority="'UPDATE_CLUSTER'" class="settings-box flex flex-wrap mt-6">
      <div class="w-full sm:w-8/12">
        <div fxLayoutAlign="start center">
          <cdk-icon src="assets/img/icons/upgrade-vpc-custom.svg" alt="" @fadeInRight></cdk-icon>
          <h3 fxFlex="95%" fxLayoutAlign="start center" @fadeInRight class="pl-4">Platform Configuration</h3>
        </div>
        <p class="mt-4" @fadeInRight>This will schedule the upgrade of the platform services on your cluster.</p>
      </div>
      <div class="w-full sm:w-4/12 flex sm:justify-end items-center pt-5 sm:pb-0">
        <button
          *ngIf="!isUpgradeOpen"
          type="button"
          mat-button
          class="kc-button-primary w-32"
          (click)="toggleClusterUpgradeView()"
          id="upgrade"
        >
          Edit
        </button>
      </div>

      <!-- Here it comes -->
      <div class="flex">
        <div @fadeInRight *ngIf="isUpgradeOpen">
          <div
            @fadeInRight
            *ngIf="kubeClusterDetails?.clusterReleaseConfig"
            class="update-card p-4 mt-8 flex justify-between items-center {{ updateWarnigClass }}"
            role="alert"
          >
            <p class="font-bold">
              {{ releaseUpdateInProgress ? 'New Platform Release Update In Progress.' : 'New Platform Release.' }}
            </p>
            <button (click)="upgradeClusterDialog()" *ngIf="!releaseUpdateInProgress" mat-raised-button class="_upgrade_btn">View</button>

            <div *ngIf="releaseUpdateInProgress">
              <mat-icon class="spin-item mr-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="1em"
                  height="1em"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                  style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg)"
                >
                  <path fill="currentColor" d="m8 7.5l4 4l4-4V4H8zm0 9V20h8v-3.5l-4-4z" opacity=".3"></path>
                  <path
                    fill="currentColor"
                    d="M18 2H6v6h.01L6 8.01L10 12l-4 4l.01.01H6V22h12v-5.99h-.01L18 16l-4-4l4-3.99l-.01-.01H18V2zm-2 14.5V20H8v-3.5l4-4l4 4zm0-9l-4 4l-4-4V4h8v3.5z"
                  ></path>
                </svg>
              </mat-icon>
            </div>
          </div>
          <div class="Strategy-selection">
            <h5 class="block font-bold mt-8">Strategy Selection</h5>
            <div>
              <p *ngIf="selectedStrategy === 'AUTOMATED'" class="txt-sm mt-1">
                The platform will automatically apply the upgrade to your cluster within your selected time range.
              </p>
              <p *ngIf="selectedStrategy === 'MANUAL'" class="txt-sm mt-1">You need to manually apply the platform upgrade.</p>
            </div>
            <div fxLayout="row" fxLayoutGap="25px" fxLayoutGap.sm="10px" fxLayoutGap.xs="10px" fxLayoutGap.md="10px" class="mt-4">
              <button
                fxFlex="50%"
                fxFlex.xs="50%"
                fxFlex.sm="50%"
                mat-button
                class="block-buttons block-buttons-small xs:mb-4"
                id="dynamic-resource"
                [ngClass]="2 > 1 && 'active-block-button'"
                (click)="selectType('AUTOMATED')"
              >
                <div fxLayout="row" fxLayoutAlign="center center">AUTOMATED</div>
                <div *ngIf="selectedStrategy === 'AUTOMATED'">
                  <cdk-icon type="check" class="check-icon"></cdk-icon>
                </div>
              </button>
              <button
                fxFlex="50%"
                fxFlex.xs="50%"
                fxFlex.sm="50%"
                mat-button
                class="block-buttons block-buttons-small xs:mb-4"
                id="fixed-resource"
                [ngClass]="2 > 1 && 'active-block-button'"
                (click)="selectType('MANUAL')"
              >
                <div fxLayout="row" fxLayoutAlign="center center">MANUAL</div>
                <div *ngIf="selectedStrategy === 'MANUAL'"><cdk-icon type="check" class="check-icon"></cdk-icon></div>
              </button>
            </div>
            <div class="mt-4 flex" *ngIf="selectedStrategy === 'AUTOMATED'">
              <div class="w-2/6">
                <mat-form-field (click)="dt1.open()" appearance="outline" class="custom-mat-form-field cursor-pointer">
                  <!-- <label>From Time</label> -->
                  <input
                    readonly
                    matInput
                    placeholder="Choose Time Range"
                    [(ngModel)]="selectedTime"
                    [selectMode]="'range'"
                    [owlDateTimeTrigger]="dt1"
                    [owlDateTime]="dt1"
                    (dateTimeChange)="onDatePicker($event, 'FROM')"
                  />
                  <owl-date-time #dt1 [pickerType]="'timer'"></owl-date-time>
                </mat-form-field>
              </div>

              <!-- <div class="w-2/6 ml-4">
                <mat-form-field (click)="dt2.open()" appearance="outline" class="custom-mat-form-field cursor-pointer">
                  <label>To Time</label>
                  <input readonly matInput placeholder="Choose Time" [(ngModel)]="selectedToTime" [owlDateTimeTrigger]="dt2"
                    [owlDateTime]="dt2" (dateTimeChange)="onDatePicker($event, 'TO')">
                  <owl-date-time #dt2 [pickerType]="'timer'" [showSecondsTimer]="false"></owl-date-time>
                </mat-form-field>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div @fadeInRight *ngIf="isUpgradeOpen" class="w-full flex justify-end items-center">
        <button type="button" mat-raised-button (click)="toggleClusterUpgradeView()" class="btn-close" id="upgrade">Close</button>
        <button
          *ngIf="isUpgradeOpen"
          (click)="updateClusterUpgradeStrategy()"
          class="btn btn-primary ml-2"
          mat-raised-button
          color="primary"
          id="cluster-upgrade-btn"
        >
          <span>Apply</span>
        </button>
      </div>
    </div>
  </div>

  <div *hasAnyAuthority="'DELETE_CLUSTER'" class="settings-box flex items-center justify-between gap-4 mt-6">
    <div>
      <div class="w-full flex items-center">
        <cdk-icon src="assets/img/icons/delete-custom.svg" alt="" @fadeInRight></cdk-icon>
        <h3 class="pl-4" @fadeInRight>Delete this Cluster</h3>
      </div>
      <p class="mt-4" @fadeInRight>
        This will schedule your Cluster to be deleted. Your Cluster and all associated objects will be permanently destroyed, scrubbed, and
        irretrievable after the deletion period.
      </p>
    </div>
    <div>
      <button type="button" mat-button class="kc-delete-primary w-32" (click)="delete()" @fadeInRight>
        {{ isForceDelete ? 'Force Delete' : 'Delete' }}
      </button>
    </div>
  </div>
</div>
