.load-more-btn {
  //float: right;
  background-color: transparent;
  margin: 10px;
  border: 1px solid var(--background-2);
  text-align: center !important;
}

::ng-deep .cdk-overlay-pane .view-labels {
  min-width: 550px;
  max-height: 700px;
}
