<div mat-dialog-content>
  <button class="text-secondary float-right" mat-dialog-close mat-icon-button type="button">
    <i class="kc-close"></i>
  </button>
  <div class="modal-wrapper">
    <img src="/assets/img/bin.svg" />
    <div class="dialog1">
      <h2>{{data?.clusterStatus === 'CONNECTED'? 'Detach' : 'Remove'}} Cluster</h2>
      <p class="bg-red-100 border text-grey border-grey-400 px-4 py-3 mt-5 mb-5">
        This will {{data?.clusterStatus === 'CONNECTED'? 'Detach' : 'Remove'}} the Cluster, <b>{{ data?.name }}</b> from the system.
      </p>
      <p class="mt-5 mb-5">
        Please type: <b>{{ data?.name }}</b> to {{data?.clusterStatus === 'CONNECTED'? 'Detach' : 'Remove'}} this Cluster.
      </p>
      <div class="form-control">
        <input type="text" #inp (input)="onChange(inp.value)" (paste)="onChange(inp.value)" placeholder="Type here..." />
      </div>
      <button mat-button class="btn btn-danger mb-2 w-full mt-5" (click)="delete(inp.value)" [disabled]="invalidInp || isSubmitting">
        <span *ngIf="!isSubmitting">I understand this, {{data?.clusterStatus === 'CONNECTED'? 'Detach' : 'Remove'}} Cluster</span>
        <div *ngIf="isSubmitting" class="align-middle mx-auto" fxFlex="auto" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-bar mode="indeterminate" color="warn" class="mx-4 my-4"></mat-progress-bar>
        </div>
      </button>
    </div>
  </div>
</div>
