<kc-page-layout>
  <kc-page-layout-content kcContainer>
    <div *ngIf="isLoading; else contentTemplate" class="p-4">
      <mat-progress-spinner strokeWidth="2" diameter="40" mode="indeterminate"></mat-progress-spinner>
    </div>
    <ng-template #contentTemplate>
      <div class="card p-page">
        <div class="w-full h-fullrelative">
          <div class="flex items-start gap-4 mb-4">
            <!-- Status Icon -->
            <div class="flex items-center gap-2 pt-2 mr-6">
              <h3>{{ clusterData.displayName }}</h3>
              <img
                class="ic-app-status"
                *ngIf="clusterStatus === 'ACTIVE'"
                [matTooltip]="clusterStatus"
                [matTooltipPosition]="'above'"
                src="assets/img/icons/ic-active-deployment.gif"
                width="25px"
                height="25px"
              />
              <img
                class="ic-app-status"
                *ngIf="clusterStatus === 'CREATING'"
                [matTooltip]="clusterStatus"
                [matTooltipPosition]="'above'"
                src="assets/img/icons/ic-docker-building.gif"
                width="25px"
                height="25px"
              />
              <img
                class="ic-app-status"
                *ngIf="clusterStatus === 'FAILED'"
                [matTooltip]="clusterStatus"
                [matTooltipPosition]="'above'"
                src="assets/img/icons/ic-deployment-failed.svg"
                width="25px"
                height="25px"
              />
              <img
                class="ic-app-status"
                *ngIf="clusterStatus === 'DELETING'"
                [matTooltip]="clusterStatus"
                [matTooltipPosition]="'above'"
                src="assets/img/icons/ic-vpc-terminating.gif"
                width="25px"
                height="25px"
              />
              <img
                class="ic-app-status"
                *ngIf="clusterStatus === 'PENDING'"
                [matTooltip]="clusterStatus"
                [matTooltipPosition]="'above'"
                src="assets/img/icons/ic-pending.svg"
                width="25px"
                height="25px"
              />
            </div>
            <!-- Navbar -->
            <div class="ml-auto overflow-x-scroll sm:overflow-x-auto">
              <ul class="flex cluster-nav-tab">
                <li class="outline-none" *ngIf="clusterStepStatus === 'SUCCESS' || clusterType === 'MANUAL'">
                  <a [routerLink]="['overview']" routerLinkActive="current">
                    <i class="icon-explore"></i>
                    Overview
                  </a>
                </li>
                <li class="outline-none">
                  <a [routerLink]="['logs']" routerLinkActive="current">
                    <i class="icon-code"></i>
                    {{ clusterStepStatus !== 'SUCCESS' ? 'Initialization ' : '' }}
                    Logs</a
                  >
                </li>
                <ng-container *ngIf="clusterStepStatus === 'SUCCESS' && clusterStatus !== 'DELETING' && clusterType === 'AUTOMATED'">
                  <li class="outline-none" *hasAnyAuthority="'MANAGE_NODE_GROUP'">
                    <a [routerLink]="['node-groups']" routerLinkActive="current">
                      <i class="icon-git-organization"></i>
                      Node Groups
                    </a>
                  </li>
                  <!-- <li class="outline-none">
                  <a [routerLink]="['dns-setup']" routerLinkActive="current">DNS Setup</a>
                </li> -->
                </ng-container>
                <ng-container
                  *ngIf="
                    clusterType === 'AUTOMATED' ? clusterStatus !== 'DELETING' && clusterStatus !== 'PENDING' : clusterStatus === 'ACTIVE'
                  "
                >
                  <li class="outline-none" *hasAnyAuthority="[k8sAuthority]">
                    <a
                      [routerLink]="['k8s', k8sRoute]"
                      [queryParams]="{ kubeClusterId: clusterData?.clusterId }"
                      routerLinkActive="current"
                    >
                      <i class="icon-circle-outline"></i>
                      Cluster Admin Dashboard
                    </a>
                  </li>
                </ng-container>
                <ng-container *ngIf="clusterType === 'MANUAL' || clusterStepStatus === 'SUCCESS' || clusterStepStatus === 'FAILED'">
                  <li *hasAnyAuthority="['DELETE_CLUSTER']" class="outline-none">
                    <a [routerLink]="['settings']" routerLinkActive="current">
                      <i class="icon-settings"></i>
                      Settings
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-template>
  </kc-page-layout-content>
</kc-page-layout>
