<div>
  <div class="flex items-center flex-wrap">
    <div class="mr-4 w-full flex justify-between items-center">
      <div class="flex">
        <div *hasAnyAuthority="'MANAGE_K8S_CLUSTER_ROLE_BINDING'">
          <button mat-raised-button color="primary" class="btn primary float-right mr-2" type="button" (click)="onCreate()">
            <ic-icon [icon]="icAdd" class="hidden sm:inline-block mr-1" size="24px"></ic-icon>
            {{ title }}
          </button>
        </div>

        <h3 class="total_count px-8">Total: {{ clusterRoleBinding?.length + remaining || 0 }}</h3>

        <button matTooltip="Refresh" class="float-right mt-2 ml-2" (click)="reloadList()">
          <mat-icon [icIcon]="icRefresh"></mat-icon>
        </button>
      </div>
      <div class="flex justify-between items-center">
        <div class="filter-form">
          <button (click)="onSearch()" mat-icon-button type="submit">
            <mat-icon [icIcon]="icSearch">search</mat-icon>
          </button>
          <div (keyup.enter)="onSearch()">
            <input
              (input)="handleInputChange()"
              class="outline-none"
              [(ngModel)]="searchTerm"
              type="text"
              autocomplete="off"
              placeholder="Search"
            />
          </div>
          <button (click)="clearSearch()" *ngIf="searchTerm.length !== 0" mat-icon-button type="submit">
            <mat-icon [icIcon]="icCross">cancel</mat-icon>
          </button>
        </div>

        <div class="ml-6 mt-4">
          <mat-form-field class="_k8s_search_form_field" appearance="outline">
            <mat-label>Search By</mat-label>
            <mat-select [(ngModel)]="searchBy">
              <mat-option [value]="'name'">Name</mat-option>
              <mat-option [value]="'label'">Label</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="w-full px-0 mt-4">
      <div *ngIf="clusterRoleBinding?.length && !isLoading">
        <div>
          <div class="mt-4 mb-4"></div>
          <div class="kube-table__wrapper">
            <table class="kube-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <!-- <th class="border-lef">Capacity</th>
                <th class="border-lef">Access Modes</th> -->

                  <th class="border-lef">Creation Time</th>
                  <!-- <th class="border-lef">Status</th> -->
                  <th class=""></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of clusterRoleBinding">
                  <td width="35%">
                    <button (click)="onPvDetailsClick(item)" class="details__link">{{ item?.metadata.name }}</button>
                  </td>
                  <!-- <td width="15%">{{item?.spec?.capacity.storage}}</td>
                <td width="15%">{{extractCapitalLetters(item?.spec?.accessModes[0])}}</td> -->

                  <td width="20%">
                    {{ item?.metadata.creationTimestamp | date: 'medium' }} <br />
                    {{ item?.metadata.creationTimestamp | ago }}
                  </td>
                  <!-- <td >{{item?.status?.phase}}</td> -->
                  <td>
                    <button mat-button [matMenuTriggerFor]="menu" class="float-right" mat-icon-button>
                      <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <!-- <a mat-menu-item [routerLink]="item?.metadata?.name" [queryParams]="queryParams">
                  <mat-icon [icIcon]="icInfo"></mat-icon>
                  <span>Details</span>
                  </a> -->
                      <button *hasAnyAuthority="'MANAGE_K8S_CLUSTER_ROLE_BINDING'" mat-menu-item (click)="onUpdate(item)">
                        <mat-icon [icIcon]="icEdit"></mat-icon> Edit
                      </button>
                      <button *hasAnyAuthority="'MANAGE_K8S_CLUSTER_ROLE_BINDING'" mat-menu-item (click)="onDelete(item)">
                        <mat-icon [icIcon]="icDelete"></mat-icon> Delete
                      </button>
                      <button mat-menu-item [matMenuTriggerFor]="Labels"><mat-icon [icIcon]="icLabel"></mat-icon> Labels</button>

                      <mat-menu class="my-menu" #Labels="matMenu">
                        <div (click)="$event.stopPropagation()" class="p-2 label">
                          <h3 class="mb-2">Labels</h3>

                          <div class="kc-dataset">
                            <h3 class="kc-dataset__value" *ngFor="let label of item?.metadata?.labels | keyvalue">
                              <span class="kc-dataset-key">{{ label.key }}</span> : {{ label.value }}
                            </h3>
                            <h5 *ngIf="!item?.metadata?.labels">No labels found.</h5>
                          </div>
                        </div>
                      </mat-menu>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="resourceToken.length !== 0" class="flex justify-center items-center">
        <mat-progress-spinner
          class="mx-6 mt-4"
          *ngIf="loadMoreData"
          strokeWidth="2"
          diameter="40"
          color="accent"
          mode="indeterminate"
        ></mat-progress-spinner>
      </div>
    </div>

    <h5 class="opacity-75 mt-4" *ngIf="!clusterRoleBinding?.length && !isLoading">There is nothing found!</h5>
  </div>
  <div class="mt-5" *ngIf="isLoading">
    <mat-progress-spinner strokeWidth="2" diameter="40" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
