<!-- Loader -->
<div class="flex items-center" *ngIf="isLoading">
  <mat-progress-spinner strokeWidth="2" diameter="30" mode="indeterminate"></mat-progress-spinner>
  <span class="ml-4">Loading...</span>
</div>

<!-- Data Render -->
<ng-template [ngIf]="!isLoading">
  <div class="flex justify-between items-center mt-8 mb-4">
    <div class="flex">
      <a [routerLink]="'../'" [queryParams]="{ namespace: queryParams.namespace }">
        <h3 class="inline mr-2" style="color: var(--color-primary)">{{ title }}</h3>
      </a>
      <mat-icon [icIcon]="icRight" style="font-size: 22px; margin-top: 2px"></mat-icon>
      <h3 class="px-4 mb-2">{{ data?.metadata?.name }}</h3>
    </div>

    <div *hasAnyAuthority="'MANAGE_NAMESPACE_NETWORK_POLICY'" class="flex items-center">
      <div class="px-2">
        <button mat-raised-button class="float-right detaisl-edit-btn" type="button" (click)="onUpdate(data)">
          <mat-icon [icIcon]="icEdit"></mat-icon> Edit
        </button>
      </div>
      <div class="px-2">
        <button mat-raised-button class="btn float-right details-delete-btn" type="button" (click)="onDelete(data)">
          <mat-icon [icIcon]="icDelete"></mat-icon> Delete
        </button>
      </div>
    </div>
  </div>

  <div class="page-root" *ngIf="data">
    <kc-metadata-template [data]="data.metadata"></kc-metadata-template>

    <div class="page-root mt-4" *ngIf="data">
      <div class="kube-card">
        <h2 class="kube-card__title">Spec</h2>
        <div class="kube-card__content">
          <div class="flex flex-wrap -mx-2">
            <div class="px-2 w-full sm:w-1/2 mt-6">
              <div class="kc-dataset">
                <div class="kc-dataset__name">Ingress</div>
                <h3 class="kc-dataset__value mt-4" *ngFor="let obj of data?.spec?.ingress; let last = last">
                  <div class="kc-dataset mb-2">
                    <div class="kc-dataset__name px-2">From</div>
                    <h3 class="kc-dataset__value" *ngFor="let sub_obj of obj.from">
                      <div class="kc-dataset__name px-4">Namespace Selector</div>
                      <div class="kc-dataset__name px-6">Match Labels</div>

                      <div class="kc-dataset">
                        <h3 class="kc-dataset__value" *ngFor="let item of sub_obj.namespaceSelector.matchLabels | keyvalue">
                          <span class="kc-dataset-key px-8"> {{ item.key }} </span> : {{ item.value }}
                        </h3>
                      </div>
                    </h3>
                  </div>
                  <hr *ngIf="!last" class="mb-4" />
                </h3>
              </div>
            </div>

            <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
              <div class="kc-dataset">
                <div class="kc-dataset__name">Policy Types</div>
                <div *ngFor="let item of data?.spec?.policyTypes">
                  <h3 class="kc-dataset__value">{{ item }}</h3>
                </div>
              </div>
            </div>

            <div class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
              <div class="kc-dataset">
                <div class="kc-dataset__name">Ingress</div>
                <div *ngFor="let item of data?.spec?.ingress">
                  <kc-json-data-viewer-template [data]="item"></kc-json-data-viewer-template>
                </div>
              </div>
            </div>

            <div *ngIf="data?.spec?.egress?.length > 0" class="px-2 w-full lg:w-3/12 sm:w-1/2 mt-6">
              <div class="kc-dataset">
                <div class="kc-dataset__name">Egress</div>
                <div *ngFor="let item of data?.spec?.egress">
                  <kc-json-data-viewer-template [data]="item"></kc-json-data-viewer-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Empty Content -->
  <ng-template #emptyDataStatus>
    <h6 class="color-text text-center">There is nothing to display.</h6>
  </ng-template>
</ng-template>
