<div class="flex items-center justify-between mb-8" mat-dialog-title>
  <h2 class="mt-2 ml-4">Release Note</h2>
  <button class="text-secondary mt-2" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<div class="release-note">
  <div class="release-status" *ngIf="data?.releaseStatus !== 'PENDING'">
    <h4 *ngIf="data?.releaseStatus !== 'RUNNING'">
      Status:
      <span class="{{ data.releaseStatus == 'SUCCESS' ? 'text-green' : 'text-red' }}">[ {{ data.releaseStatus }} ]</span>
    </h4>

    <h4 *ngIf="data?.releaseStatus == 'RUNNING'">
      Status: <span class="text-warn"> [ {{ data.releaseStatus }} ]</span>
    </h4>

    <mat-icon
      *ngIf="data?.releaseStatus == 'FAILED'"
      (click)="downloadLogs()"
      class="cursor-pointer ml-4"
      matTooltip="Download error logs"
      [icIcon]="icDownload"
    ></mat-icon>
  </div>
  <!-- <div *ngIf="data?.releaseStatus =='FAILED'" class="flex justify-between items-center mb-12">
        <div>
            <h4>Log: </h4>
            <p class="text-red">{{data?.errorMessage}}</p>
        </div>
        <div (click)="downloadLogs()">
            <mat-icon class="cursor-pointer mt-6" [icIcon]="icDownload"></mat-icon>
        </div>
    </div> -->
  <pre *ngIf="data?.newReleaseNote" [innerHTML]="releaseNote"></pre>
  <pre *ngIf="data?.currentReleaseNote && !data?.newReleaseNote" [innerHTML]="data?.currentReleaseNote"></pre>
</div>

<div *ngIf="data?.releaseStatus == 'PENDING'">
  <div *ngIf="!warningStep" class="flex justify-center mt-6">
    <button (click)="toggleWarning()" mat-raised-button class="_upgrade_btn">Update</button>
  </div>

  <div class="mt-6" *ngIf="warningStep">
    <h3 class="text-center">Are you sure, you want to upgrade into this release now?</h3>
    <div class="flex items-center justify-center mt-6">
      <button mat-raised-button class="_upgrade_btn" matDialogClose="true">Yes</button>
      <button (click)="toggleWarning()" mat-raised-button class="_cancel_btn">Cancel</button>
    </div>
  </div>
</div>

<div *ngIf="data?.releaseStatus == 'FAILED'" class="flex justify-center mt-6">
  <button (click)="redirectLink()" mat-raised-button class="_cancel_btn">Report Issue</button>
</div>
