<div
  class="w-full initialization-log mt-8"
  gdColumns="{{ currentState === 'DELETING' ? '1fr' : '1fr 1.5fr' }}"
  gdColumns.md="{{ currentState === 'DELETING' ? '1fr' : '1fr 1.5fr' }}"
  gdColumns.lt-sm="1fr"
  gdGap="25px"
>
  <div *ngIf="currentState !== 'DELETING'" class="pr-4">
    <div class="timeline-wrapper">
      <div *ngIf="!isStepLoaded || !clusterCreationStepStatus?.length">
        <mat-progress-spinner mode="indeterminate" color="primary" strokeWidth="2" diameter="40"></mat-progress-spinner>
      </div>
      <ul class="timeline" *ngIf="isStepLoaded && clusterCreationStepStatus?.length">
        <li *ngFor="let step of clusterCreationStepStatus; trackBy: trackByIndex" [ngClass]="'_step_' + (step?.status | lowercase)">
          <div class="timeline-badge flex items-center justify-center">
            <mat-icon *ngIf="step?.status === 'RUNNING'" class="spinning autorenew_icon" [icIcon]="icAutoRenew"></mat-icon>
            <mat-icon *ngIf="step?.status === 'PENDING'" class="spinning hourglass" [icIcon]="icHourGlassEmpty"></mat-icon>
            <mat-icon *ngIf="step?.status === 'SUCCESS'" class="success_icon" [icIcon]="icCheckCircle"></mat-icon>
            <mat-icon *ngIf="step?.status === 'FAILED'" class="text-red-800" [icIcon]="icCancel"></mat-icon>
          </div>
          <div class="timeline-panel" [ngClass]="'timeline-panel-' + step?.status | lowercase">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{ step?.details }}</h4>
            </div>
            <div class="timeline-body">
              <span class="_step_status" [ngClass]="'_step_status-' + (step?.status | lowercase)">
                {{ step?.status | titlecase }}
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="clusterType === 'AUTOMATED'" class="w-full live-log-section" #appLogViewContainer>
    <div
      *ngIf="!isExistLogLoading"
      [scrollTop]="appLogViewContainer"
      [innerHTML]="liveLogs ? (liveLogs | safeHtml) : 'No log received yet!'"
    ></div>
    <div
      class="flex items-center"
      *ngIf="
        this.currentState === 'DELETING' ||
        isExistLogLoading ||
        (clusterCreationStepStatus[clusterCreationStepStatus?.length - 1]?.status !== 'SUCCESS' &&
          clusterCreationStepStatus[clusterCreationStepStatus?.length - 1]?.status !== 'FAILED')
      "
    >
      Loading.....
      <span class="terminal-spinner"></span>
    </div>
  </div>

  <!-- Manual Cluster Icons -->
  <div *ngIf="clusterType === 'MANUAL'">
    <div class="w-full pt-6 flex flex-col items-center">
      <div class="flex flex-col items-center">
        <mat-progress-spinner
          *ngIf="manualClusterStep === 'FAILED'"
          [value]="100"
          class="mt-10"
          diameter="170"
          mode="determinate"
          strokeWidth="5"
          color="warn"
        ></mat-progress-spinner>
        <mat-progress-spinner
          *ngIf="manualClusterStep === 'SUCCESS'"
          [value]="100"
          class="mt-10"
          diameter="170"
          mode="determinate"
          strokeWidth="5"
          color="primary"
        ></mat-progress-spinner>
        <mat-progress-spinner
          *ngIf="manualClusterStep === 'RUNNING'"
          class="mt-10"
          diameter="170"
          mode="indeterminate"
          strokeWidth="5"
          color="primary"
        ></mat-progress-spinner>
        <mat-progress-spinner
          *ngIf="manualClusterStep === 'PENDING'"
          class="mt-10"
          diameter="170"
          mode="determinate"
          strokeWidth="5"
          color="primary"
        ></mat-progress-spinner>
        <div *ngIf="manualClusterStep" class="app-init-circle"></div>
        <img *ngIf="manualClusterStep === 'PENDING'" class="img-cloud-animation" src="assets/img/icons/cloud_loader.svg" />
        <img *ngIf="manualClusterStep === 'RUNNING'" class="ic-app-init-running" src="assets/img/icons/ic_gears.svg" />
        <img *ngIf="manualClusterStep === 'FAILED'" class="ic-app-init-error" src="assets/img/icons/ic_error.png" />
        <ng-container *ngIf="manualClusterStep === 'SUCCESS'">
          <img class="ic-app-init-success" src="assets/img/icons/ic_success.png" />
          <h4 class="text-hint mt-16">The cluster has been successfully onboarded.</h4>
        </ng-container>
      </div>
    </div>
  </div>
</div>
