<div>
  <div class="flex items-center">
    <h3 class="text-xl">Update Password</h3>
    <button class="ml-auto" mat-dialog-close><mat-icon [icIcon]="icClose"></mat-icon></button>
  </div>
  <form class="mt-8" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-form-field *ngIf="userForm?.get('currentPassword')" class="custom-mat-form-field" appearance="outline">
        <mat-label><span>Current Password</span></mat-label>
        <input
          [type]="visible ? 'text' : 'password'"
          [formControlName]="'currentPassword'"
          id="currentPassword"
          matInput
          autocomplete="new-password"
          required
        />
        <button
          class="-mt-3"
          (click)="toggleVisibility()"
          mat-icon-button
          matSuffix
          matTooltip="Toggle Visibility"
          matTooltipPosition="above"
          type="button"
        >
          <mat-icon class="password-visible-toggler" [icIcon]="visible ? icVisibility : icVisibilityOff"></mat-icon>
        </button>
        <mat-error *ngIf="userForm?.get('currentPassword')?.hasError('required') && userForm?.get('currentPassword')?.touched">
          Current password is required!
        </mat-error>
        <mat-error
          *ngIf="
            !userForm?.get('currentPassword')?.hasError('currentPassword') &&
            (userForm?.get('currentPassword')?.hasError('minlength') ||
              (userForm.get('currentPassword')?.hasError('passwordStrength') && userForm.get('currentPassword')?.touched))
          "
        >
          Passwords must contain at least
          {{ userForm?.get('newPassword').errors?.minlength?.requiredLength }} characters, including uppercase, lowercase letters, numbers &
          special characters (!&*&#64;^).
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="userForm?.get('newPassword')" class="custom-mat-form-field" appearance="outline">
        <mat-label><span>Password</span></mat-label>
        <input
          [type]="visible ? 'text' : 'password'"
          [formControlName]="'newPassword'"
          id="newPassword"
          matInput
          autocomplete="new-password"
          required
        />
        <button
          class="-mt-3"
          (click)="toggleVisibility()"
          mat-icon-button
          matSuffix
          matTooltip="Toggle Visibility"
          matTooltipPosition="above"
          type="button"
        >
          <mat-icon class="password-visible-toggler" [icIcon]="visible ? icVisibility : icVisibilityOff"></mat-icon>
        </button>
        <mat-error *ngIf="userForm?.get('newPassword')?.hasError('required') && userForm?.get('newPassword')?.touched">
          Password is required!
        </mat-error>
        <mat-error
          *ngIf="
            !userForm?.get('newPassword')?.hasError('newPassword') &&
            (userForm?.get('newPassword')?.hasError('minlength') ||
              (userForm.get('newPassword')?.hasError('passwordStrength') && userForm.get('newPassword')?.touched))
          "
        >
          Passwords must contain at least
          {{ userForm?.get('newPassword').errors?.minlength?.requiredLength }} characters, including uppercase, lowercase letters, numbers &
          special characters (!&*&#64;^).
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="userForm?.get('passwordConfirm')" class="custom-mat-form-field" appearance="outline">
        <mat-label><span>Password Confirmation</span></mat-label>
        <input type="text" style="display: none" />
        <input
          [type]="visible ? 'text' : 'password'"
          [formControlName]="'passwordConfirm'"
          id="confirm-password"
          matInput
          autocomplete="off"
          required
        />
        <mat-error
          *ngIf="
            !userForm?.get('newPassword')?.hasError('pattern') &&
            (userForm?.get('passwordConfirm')?.hasError || userForm?.get('passwordConfirm')?.hasError('required')) &&
            userForm?.get('passwordConfirm')?.touched
          "
        >
          Passwords need to match!
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="pb-6">
      <button type="button" mat-stroked-button mat-dialog-close>Cancel</button>
      <button
        [disabled]="userForm?.invalid || !userForm?.dirty"
        [class.pointer-events-none]="isSubmitting"
        type="submit"
        color="primary"
        mat-flat-button
      >
        <div class="flex items-center">
          <mat-spinner class="mr-3" *ngIf="isSubmitting" color="accent" strokeWidth="3" diameter="20" mode="indeterminate"></mat-spinner>
          <span>Update</span>
        </div>
      </button>
    </mat-dialog-actions>
  </form>
</div>
